@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Noto Sans, sans-serif;
  background-color: #e9e9ea;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    background-color: #eeb6d2;
    color: black;
    text-align: center;
    padding: 1.5rem;
    font-size: 2rem;
    width: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    width: 100%;
    
    form {
      background-color: white;
      padding: 2rem;
      border-radius: 5px;
      box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
      width: 37.5rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      label {
        margin-bottom: 0.5rem;
        font-weight: bold;
      }

      div {
        margin-bottom: 0.2rem;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #9a9898;
        border-radius: 5px;
        font-size: 1rem;
      }

      input[type="radio"] {
        margin-right: 0.5rem;
      }

      input[type="submit"] {
        background-color: #eeb6d2;
        color: black;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
          background-color: #e099bc;
        }
      }

      textarea {
        resize: vertical;
        height: 6.25rem;
      }
    }

    .user-info {
      background-color: white;
      padding: 1.5rem;
      border-radius: 5px;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
      width: 37.5rem;
      margin-bottom: 1rem;

      p {
        margin-bottom: 0.5rem;
        strong{
            font-weight: bold;
        }
      }
    }
  }
}
